.slide {
  width: 240px;
  flex-shrink: 0;
  .MuiDrawer-paper{
    width: 240px;
  }
  .logo{
    height: 64px;
    line-height: 64px;
    padding: 0 10px;
    img{
      width: 40px;
      height: 40px;
      padding-right: 10px;
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
      font-weight: bold;
    }
  }
  .MuiButtonBase-root{
    margin: 5px 0;
    padding-left: 10px;
  }
}
